
section{
	text-align: center;
	height: 100vh;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
section.section.s2{
	background: #ac3b61;
}
section.section.s3{
	background: #123c69;
}
section.section.s4{
	background: #116466;
}
section.section.s5{
	background: #2f4454;
}
.section h1{
	margin: 0px;
	font-size: 30px;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
}
.section span{
	color: #dedede;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.section p{
	color: white;
	margin: 10vh 20vw;
	font-size: 22px;
	font-weight: 400;
	font-family: 'Overlock', cursive;
}
.section p > a{
	font-size: 24px;
	padding: 0px 5px;
}
.language img{
	border: 1px solid rgba(0,0,0,0.05);
	cursor: pointer;
	margin: 5px;
	padding: 20px;
	width: 50px;
	filter: contrast(10%);
	transition: 0.5s;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.05);
}
.language img:hover{
	filter: contrast(100%);
	transition: 0.5s;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0);
}
.content h1{
	font-size: 60px;
}
.content span{
	font-size: 20px;
}
.content img{
	text-align: left;
	margin-top: 50px;
	border-radius: 10px;
	filter: drop-shadow(0 0 0.75rem grey);
}
a.btn-icon{
	cursor: pointer;
	margin: 50px 10px 0px 10px;
	padding: 8px 20px;
	font-size: 16px;
	transition: 0.7s;
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(255,255,255,0.1);
	color: #dedede;
	border-radius: 20px;
}
a.btn-icon:hover{
	transition: 0.7s;
	background-color: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0);
	color: white;

}

/* projects  */
.s4 .projects{
	font-family: 'Overlock', cursive;
}
.projects h1{
	color: white;
	margin-top: 30px;
}
.projects span{
	color: lightgrey;
	font-size: 16px;
}
.projects .smallspan{
	font-size: 12px;
}
.slide{
	color: white;
	font-family: 'Overlock', cursive;
}
.slide img{
	border-radius: 20px;
	margin-bottom: 20px;
}

footer a{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	color: white;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
	width:100vw;
	overflow: hidden;
	z-index: 100;
}

.Overlock{
	font-family: 'Overlock', cursive;
}
.Poppins{
	font-family: 'Poppins', sans-serif;
}
.Staatliches{
	font-family: 'Staatliches', cursive;
}
